body {
    background-color: red;
}

header{
    background-color: lightblue;
    height: 200px;
}

#roshi-logo{
    resize: both;
}


footer{
    background-color: gray;
}

div.content{
    background-color: aqua;
}

div.v-content-wrapper{
    display: flex;
    flex-direction: column;
    background-color: inherit;
    flex-grow: inherit;
    padding: 2%;
    flex: 0 0 46%;
}

div.h-content-wrapper{
    display: flex;
    flex-direction: row;
    background-color: inherit;
    padding: 2%;
}


#content-projects-list{
    flex: 0 0 100%;
}
